@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.contact-area {
    font-family: 'Poppins', sans-serif;
}
.contact-area h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
}