@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.footer-area {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.social-icon-area a {
    position:relative;
    bottom: 0px;
    transition: 0.3s ease-in-out;
}
.social-icon-area a:hover {
    position:relative;
    bottom: 7px;
}