@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  text-align: center;
}
/* --------------Header------------------- */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
}
nav ul li {
  text-transform: uppercase;
}

/* --------------Banner------------------- */




/* ------------------ Footer ----------------------- */
 

